<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>teehee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E835A2351C5C730C00CE6BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E835A2511C5C730F00CE6BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E835A25C1C5C731000CE6BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
